<div id="spinoza-root">
  <div id="god">
    <h1 id="god-caption">GOD</h1>
  </div>
  <div id="attributes">
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <h2 class="attributes-caption">Attributes</h2>
    <h2 class="attributes-caption second">Attributes</h2>
    <h2 class="unknown-attributes-caption">Unknown To Us Attributes</h2>
    <h2 class="unknown-attributes-caption second">Unknown To Us Attributes</h2>
  </div>
  <div id="modes">
    <div class="unknown-mode"></div>
    <div class="unknown-mode   second"></div>
    <h2 class="unknown-modes-caption">Unknown To Us Modes</h2>
    <h2 class="unknown-modes-caption second">Unknown To Us Modes</h2>
    <div class="mode"></div>
    <div class="mode   second"></div>
    <h2 class="modes-caption">Modes</h2>
    <h2 class="modes-caption   second">Modes</h2>
  </div>
  <h2 id="substance-caption">Substance</h2>
</div>