#spinoza-root {
  position: relative;
  overflow: hidden; }

#god {
  width: 100%;
  height: 100%; }

#god-caption {
  position: absolute;
  top: calc(50% - 25px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px; }

#spinoza-root:hover #god {
  z-index: 100; }

#substance-caption {
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
  background-color: var(--main-background);
  padding: 0.75em 1.25em;
  border-radius: 50%;
  border: 1px solid black; }

#attributes {
  position: absolute;
  left: 50%;
  top: 0;
  height: 0;
  width: 0;
  overflow: visible; }

#attributes .attribute {
  position: absolute;
  top: 0;
  height: 220px;
  width: 5px;
  transform-origin: top center;
  background-color: black; }

#attributes .attribute:nth-of-type(1) {
  transform: rotate(35deg); }

#attributes .attribute:nth-of-type(6) {
  transform: rotate(-35deg); }

#attributes .attribute:nth-of-type(2) {
  transform: rotate(50deg); }

#attributes .attribute:nth-of-type(7) {
  transform: rotate(-50deg); }

#attributes .attribute:nth-of-type(3) {
  transform: rotate(65deg); }

#attributes .attribute:nth-of-type(8) {
  transform: rotate(-65deg); }

#attributes .attribute:nth-of-type(4) {
  transform: rotate(80deg); }

#attributes .attribute:nth-of-type(9) {
  transform: rotate(-80deg); }

#attributes .attribute:nth-of-type(5) {
  transform: rotate(95deg); }

#attributes .attribute:nth-of-type(10) {
  transform: rotate(-95deg); }

#attributes .attributes-caption {
  font-size: 16px;
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: var(--main-background);
  padding: 8px;
  border-radius: 50%;
  border: 1px solid black; }

#attributes .attributes-caption.second {
  left: unset;
  right: 40px; }

#attributes .unknown-attributes-caption {
  font-size: 8px;
  position: absolute;
  top: 60px;
  left: 130px;
  background-color: var(--main-background);
  padding: 6px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center; }

#attributes .unknown-attributes-caption.second {
  left: unset;
  right: 130px; }

#modes {
  position: absolute;
  left: 50%;
  top: 140px;
  height: 0;
  width: 0;
  overflow: visible; }

#modes .unknown-mode {
  position: absolute;
  top: 0;
  height: 100px;
  width: 0;
  transform-origin: top center;
  border-left: 2px black dashed;
  left: 170px; }

#modes .unknown-mode.second {
  left: unset;
  right: 164px; }

#modes .unknown-modes-caption {
  font-size: 8px;
  position: absolute;
  top: 20px;
  left: 132px;
  background-color: var(--main-background);
  padding: 6px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center; }

#modes .unknown-modes-caption.second {
  left: unset;
  right: 132px; }

#modes .mode {
  position: absolute;
  top: 40px;
  height: 280px;
  width: 2px;
  transform-origin: top center;
  background-color: black;
  left: 127px; }

#modes .mode.second {
  left: unset;
  right: 123px; }

#modes .modes-caption {
  font-size: 8px;
  position: absolute;
  top: 160px;
  left: 132px;
  background-color: var(--main-background);
  padding: 6px;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center; }

#modes .modes-caption.second {
  left: unset;
  right: 132px; }
