<style
  {{{> ./baruch_spinoza.css}}}
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const godElement = document.getElementById('god');

    godElement.addEventListener('mouseover', () => {
      godElement.style = 'background-color: white;'
    }, {capture: true});

    godElement.addEventListener('mouseout', () => {
      godElement.style = '';
    });
  });

</script>

<div id="spinoza-root">
  <div id="god">
    <h1 id="god-caption">GOD</h1>
  </div>
  <div id="attributes">
    <h2 class="attributes-caption">Attributes</h2>
    <div class="attribute" style="transform: rotate(45deg);"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
    <div class="attribute"></div>
  </div>
</div>