#spinoza-root {
  position: relative;
  overflow: hidden;
}

#god {
  width: 100%;
  height: 100%;
}

#god-caption {
  position: absolute;
  top: calc(50% - 25px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

#spinoza-root:hover #god {
  z-index: 100;
}

#substance-caption {
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, -50%);
  background-color: var(--main-background);
  padding: 0.75em 1.25em;
  border-radius: 50%;
  border: 1px solid black;
}

#attributes {
  position: absolute;
  left: 50%;
  top: 0;
  height: 0;
  width: 0;
  overflow: visible;

  .attribute {
    position: absolute;
    top: 0;
    height: 220px;
    width: 5px;
    transform-origin: top center;
    background-color: black;
  }
  
  @for $i from 1 through 5 {
    .attribute:nth-of-type(#{$i}) {
      transform: rotate(20deg + (15deg * $i));
      //left: 70px + (-40px * $i);
    }
    .attribute:nth-of-type(#{$i + 5}) {
      transform: rotate(-20deg - (15deg * $i));
      //right: 70px + (-40px * $i);
    }
  }
  
  .attributes-caption {
    font-size: 16px;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: var(--main-background);
    padding: 8px;
    border-radius: 50%;
    border: 1px solid black;
  }
  
  .attributes-caption.second {
    left: unset;
    right: 40px;
  }

  .unknown-attributes-caption {
    font-size: 8px;
    position: absolute;
    top: 60px;
    left: 130px;
    background-color: var(--main-background);
    padding: 6px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
  }

  .unknown-attributes-caption.second {
    left: unset;
    right: 130px;
  }
}

#modes {
  position: absolute;
  left: 50%;
  top: 140px;
  height: 0;
  width: 0;
  overflow: visible;

  .unknown-mode {
    position: absolute;
    top: 0;
    height: 100px;
    width: 0;
    transform-origin: top center;
    border-left: 2px black dashed;
    left: 170px;
  }

  .unknown-mode.second {
    left: unset;
    right: 164px;
  }

  .unknown-modes-caption {
    font-size: 8px;
    position: absolute;
    top: 20px;
    left: 132px;
    background-color: var(--main-background);
    padding: 6px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
  }

  .unknown-modes-caption.second {
    left: unset;
    right: 132px;
  }

  .mode {
    position: absolute;
    top: 40px;
    height: 280px;
    width: 2px;
    transform-origin: top center;
    background-color: black;
    left: 127px;
  }

  .mode.second {
    left: unset;
    right: 123px;
  }

  .modes-caption {
    font-size: 8px;
    position: absolute;
    top: 160px;
    left: 132px;
    background-color: var(--main-background);
    padding: 6px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
  }

  .modes-caption.second {
    left: unset;
    right: 132px;
  }
}

