
:root {
    --main-background: aliceblue;
}

html, body, #root {
    overflow: hidden;
}

html, body, #root {
    width: 100%;
}

#root {
    height: 100%;
    display: flex;
    background-color: var(--main-background);
}

#left-panel {
    width: 250px;
    margin-left: 0.5em;
}

#route-content {
    height: 100%;
    flex: 1;
    padding: 0.5em;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#route-content-inner {
    height: 600px;
    width: 350px;
    border: 1px solid black;
    transform-origin: top center;
}

@media (max-width: 850px) {
    #root {
        flex-wrap: wrap;
        overflow: auto;
        padding: 0.5em;
    }
    #left-panel {
        width: 100%;
        padding: 0;
        margin: 0;
        order: 2;
    }
    #route-content{
        width: 100%;
        padding: 0;
        height: auto;
        border: 1px solid black;
    }
    #route-content-inner {
        border: none;
    }
}

#logo {
    color: black;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid black;
    text-align: center;
}

#nav {
    margin-top: 1em;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid black;
}

.route {
    margin-top: 1em;
}

.route:first-of-type {
    margin-top: 0;
}

.route-name {
    font-weight: bolder;
}
 
.route-page-link {
    margin-left: 0.5em;
    text-decoration: underline;
}